JWT_SECRET=<JWT_SECRET>

MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>
MYSQL_DB_NAME=<MYSQL_DB_NAME>
MYSQL_DB_USERNAME=<MYSQL_DB_USERNAME>
MYSQL_DB_PASSWORD=<MYSQL_DB_PASSWORD>
MYSQL_DB_PORT=<MYSQL_DB_PORT>

POSGRES_DB_NAME=<POSGRES_DB_NAME>
POSGRES_DB_USERNAME=<POSGRES_DB_USERNAME>
POSGRES_DB_PASSWORD=<POSGRES_DB_PASSWORD>

EUREKA_SERVER_PORT=<EUREKA_SERVER_PORT>